.QueryCode {
  background-color: #282c34;
  padding: 1rem 1.2rem 1rem 1rem;
}

.QueryCode__title {
  display: block;
  color: #fff;
}

/* .QueryCode__message {
  display: inline-block;
  margin-top: 1rem;
} */
